# Git
.git
.gitignore

# Node
node_modules
npm-debug.log
yarn-error.log

# Next.js
.next
out

# Environment
.env
.env.local
.env.production

# IDE
.vscode
.idea

# OS
.DS_Store
Thumbs.db

# Docker
Dockerfile
Dockerfile.dev
docker-compose.yml
.dockerignore

# Backups
backups

# Documentation
*.md
LICENSE

# Test
coverage
.nyc_output