@charset "UTF-8";
/* src/assets/css/style.css */

@import url('https://fonts.googleapis.com/css2?family=Kosugi&family=Source+Code+Pro:wght@300&family=Zen+Kaku+Gothic+New:wght@400&display=swap');

html {
  font-family: 'Kosugi', sans-serif;
  font-size: 62.5%;
}

body {
  color: #333;
  font-size: 1.2rem;
  font-family: 'Zen Kaku Gothic New', sans-serif;
  -webkit-text-size-adjust: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a:link,
a:visited,
a:hover,
a:active {
  color: #d03c56;
  text-decoration: none;
}

/*font-family: 'Kosugi', sans-serif;*/